.cards {
  span {
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    min-width: 200px;
    font-size: 20px;
    list-style: none;
    padding: 20px;
    margin: 20px;
    position: relative;

    border: 1px solid #000;
    // border: 1px solid $black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(#000, .4);
    // box-shadow: 2px 2px 10px 0 rgba($black, .4);
  }

  &__icons {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  &__icon {
    img {
      width: 30px;
      padding: 0 5px;
    }
  }
}

.logo {
  padding: 10px;
  max-width: 300px;
}

.mem {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;

  // &:hover {
  //   animation: work-again 5s ease infinite;
  // }
}

.hidden {
  display: none;
}

// @include change-opacity-mixin(work-again)
