.header {
  display: flex;
  justify-content: space-around;
  background-color: darken(#fff, 20%);
  // background-color: $grey;

  &__link {
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: darken(darken(#fff, 20%), 10);
    // background-color: darken($grey, 10);
    font-size: 20px;
    box-shadow: 2px 2px 10px 0 rgba(#000, .4);
    // box-shadow: 2px 2px 10px 0 rgba($black, .4);
  }
}

.menu {
  display: flex;
  align-items: center;
}
